.container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}
header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 13rem;
}
.logo {
  fill: rgb(255, 232, 31);
  width: 100%;
  max-width: 45rem;
}

/* Style for the movie grid container */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  row-gap: 2em;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
}
.movie-card {
  padding: 1.5em;
  background-color: rgb(35, 35, 35);
  transform: perspective(1px) translateZ(0px);
  box-shadow: transparent 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 300px;
  width: 340px;
  padding-bottom: 2em;
}
.movie-card:hover {
  box-shadow: rgb(32, 152, 209) 0px 0px 10px 3px, rgb(0, 0, 0) 0px 0px 10px;
}
h2 {
  font-family: "Star Jedi", "Open Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}
.date {
  color: rgb(157, 157, 157);
  font-size: 1rem;
}
.movie-details {
  margin-top: 1em;
  height: 52%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  font-family: inherit;
  overflow-wrap: break-word;
  white-space: normal;
  margin-bottom: 1.5rem;
}
.more-info-link {
  padding-top: 1.2rem;
  font-size: 1rem;
  text-transform: capitalize;
  border-top: 2px solid rgb(142, 46, 46);
  color: rgb(255, 232, 31);
}
a,
a:link,
a:hover,
a:focus {
  color: currentcolor;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}

.loader-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  font-size: 18px;
}
